In [4]:
import pandas as pd
#from sklearn.preprocessing import LabelEncoder, StandardScaler
#from EDA.KPIs import avg_fare_per_airline, seasonal_fare_variation, top_expensive_routes,most_popular_route
#from EDA.Visualization import plot_fare_distributions, correlation_heatmap, boxplot_fare_by_airline, plot_avg_fare_over_time,plot_actual_vs_predicted,plot_residuals,plot_regularization_effect
#from generate_insights_text import generate_text_insights,feature_importance_analysis
#from Feature_importance import extract_linear_coefficients,plot_tree_feature_importance
#from sklearn.model_selection import train_test_split
#from Model.model_utilis import train_model
#from Model.Multi_models import train_and_compare_regressors,demonstrate_regularization_effect

#from sklearn.linear_model import LinearRegression

In [5]:
df = pd.read_csv("C:/Users/RichardAnaneSarfo/Desktop/ML/Dataset/Flight_Price_Dataset_of_Bangladesh.csv")
df.head()

,Airline,Source,Source Name,Destination,Destination Name,Departure Date & Time,Arrival Date & Time,Duration (hrs),Stopovers,Aircraft Type,Class,Booking Source,Base Fare (BDT),Tax & Surcharge (BDT),Total Fare (BDT),Seasonality,Days Before Departure
0,Malaysian Airlines,CXB,Cox's Bazar Airport,CCU,Netaji Subhas Chandra Bose International Airpo...,2025-11-17 06:25:00,2025-11-17 07:38:10,1.219526,Direct,Airbus A320,Economy,Online Website,21131.225021,5169.683753,26300.908775,Regular,10
1,Cathay Pacific,BZL,Barisal Airport,CGP,"Shah Amanat International Airport, Chittagong",2025-03-16 00:17:00,2025-03-16 00:53:31,0.608638,Direct,Airbus A320,First Class,Travel Agency,11605.395471,200.000000,11805.395471,Regular,14
2,British Airways,ZYL,"Osmani International Airport, Sylhet",KUL,Kuala Lumpur International Airport,2025-12-13 12:03:00,2025-12-13 14:44:22,2.689651,1 Stop,Boeing 787,Economy,Travel Agency,39882.499349,11982.374902,51864.874251,Winter Holidays,83
3,Singapore Airlines,RJH,"Shah Makhdum Airport, Rajshahi",DAC,"Hazrat Shahjalal International Airport, Dhaka",2025-05-30 03:21:00,2025-05-30 04:02:09,0.686054,Direct,Airbus A320,Economy,Direct Booking,4435.607340,200.000000,4635.607340,Regular,56
4,British Airways,SPD,Saidpur Airport,YYZ,Toronto Pearson International Airport,2025-04-25 09:14:00,2025-04-25 23:17:20,14.055609,1 Stop,Airbus A350,Business,Direct Booking,59243.806146,14886.570922,74130.377068,Regular,90

In [6]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57000 entries, 0 to 56999
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Airline                57000 non-null  object
 1   Source                 57000 non-null  object
 2   Source Name            57000 non-null  object
 3   Destination            57000 non-null  object
 4   Destination Name       57000 non-null  object
 5   Departure Date & Time  57000 non-null  object
 6   Arrival Date & Time    57000 non-null  object
 7   Duration (hrs)         57000 non-null  float64
 8   Stopovers              57000 non-null  object
 9   Aircraft Type          57000 non-null  object
 10  Class                  57000 non-null  object
 11  Booking Source         57000 non-null  object
 12  Base Fare (BDT)        57000 non-null  float64
 13  Tax & Surcharge (BDT)  57000 non-null  float64
 14  Total Fare (BDT)       57000 non-null  float64
 15  Seasonality            57000 non-null  object
 16  Days Before Departure  57000 non-null  int64
dtypes: float64(4), int64(1), object(12)
memory usage: 7.4+ MB
None

In [7]:
df.describe()

,Duration (hrs),Base Fare (BDT),Tax & Surcharge (BDT),Total Fare (BDT),Days Before Departure
count,57000.000000,57000.000000,57000.000000,57000.000000,57000.000000
mean,3.994955,58899.556573,11448.238494,71030.316199,45.460579
std,4.094043,68840.614499,12124.344329,81769.199536,26.015657
min,0.500000,1600.975688,200.000000,1800.975688,1.000000
25%,1.003745,8856.316983,200.000000,9602.699787,23.000000
50%,2.644656,31615.996792,9450.940481,41307.544990,45.000000
75%,5.490104,85722.930389,17513.046160,103800.906963,68.000000
max,15.831719,449222.933770,73383.440066,558987.332444,90.000000

In [8]:
df.isnull().sum()

Airline                  0
Source                   0
Source Name              0
Destination              0
Destination Name         0
Departure Date & Time    0
Arrival Date & Time      0
Duration (hrs)           0
Stopovers                0
Aircraft Type            0
Class                    0
Booking Source           0
Base Fare (BDT)          0
Tax & Surcharge (BDT)    0
Total Fare (BDT)         0
Seasonality              0
Days Before Departure    0
dtype: int64

DATA CLEANING & PREPROCESSING

In [9]:
df.loc[df.duplicated()]

Empty DataFrame
Columns: [Airline, Source, Source Name, Destination, Destination Name, Departure Date & Time, Arrival Date & Time, Duration (hrs), Stopovers, Aircraft Type, Class, Booking Source, Base Fare (BDT), Tax & Surcharge (BDT), Total Fare (BDT), Seasonality, Days Before Departure]
Index: []

In [10]:
df[['Total Fare (BDT)', 'Base Fare (BDT)']].min()

Total Fare (BDT)    1800.975688
Base Fare (BDT)     1600.975688
dtype: float64

In [12]:
df['Departure Date & Time'] = pd.to_datetime(df['Departure Date & Time'])
df['Arrival Date & Time'] = pd.to_datetime(df['Arrival Date & Time'])

In [13]:
df['Departure_date'] = df['Departure Date & Time'].dt.date
df['Departure_time'] = df['Departure Date & Time'].dt.time

df['Arrival_date'] = df['Arrival Date & Time'].dt.date
df['Arrival_time'] = df['Arrival Date & Time'].dt.time

In [14]:
df = df.drop(
    ['Source Name', 'Destination Name', 'Departure Date & Time', 'Arrival Date & Time'],
    axis=1
)

In [15]:
df[['Duration (hrs)', 'Base Fare (BDT)', 'Tax & Surcharge (BDT)', 'Total Fare (BDT)']] = \
df[['Duration (hrs)', 'Base Fare (BDT)', 'Tax & Surcharge (BDT)', 'Total Fare (BDT)']].round(2)
df.head()

,Airline,Source,Destination,Duration (hrs),Stopovers,Aircraft Type,Class,Booking Source,Base Fare (BDT),Tax & Surcharge (BDT),Total Fare (BDT),Seasonality,Days Before Departure,Departure_date,Departure_time,Arrival_date,Arrival_time
0,Malaysian Airlines,CXB,CCU,1.22,Direct,Airbus A320,Economy,Online Website,21131.23,5169.68,26300.91,Regular,10,2025-11-17,06:25:00,2025-11-17,07:38:10
1,Cathay Pacific,BZL,CGP,0.61,Direct,Airbus A320,First Class,Travel Agency,11605.40,200.00,11805.40,Regular,14,2025-03-16,00:17:00,2025-03-16,00:53:31
2,British Airways,ZYL,KUL,2.69,1 Stop,Boeing 787,Economy,Travel Agency,39882.50,11982.37,51864.87,Winter Holidays,83,2025-12-13,12:03:00,2025-12-13,14:44:22
3,Singapore Airlines,RJH,DAC,0.69,Direct,Airbus A320,Economy,Direct Booking,4435.61,200.00,4635.61,Regular,56,2025-05-30,03:21:00,2025-05-30,04:02:09
4,British Airways,SPD,YYZ,14.06,1 Stop,Airbus A350,Business,Direct Booking,59243.81,14886.57,74130.38,Regular,90,2025-04-25,09:14:00,2025-04-25,23:17:20